<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rest Frontend</title>
</head>
<body data-ng-app='playersApp'>
	<h1>favorite nba players</h1>
	<div data-dummy-directive></div>
	<main data-ng-controller='playersController' data-ng-init="getAll()"> 
    <h2>create your very own nba player!</h2>	 
	  <form name="newPlayerForm" data-ng-submit="create(newPlayer)">
	  	<label for="newPlayerName">Name: </label>
	  	<input type="text" required name="newPlayerName" data-ng-model="newPlayer.name">
	  	<label for="newPlayerHeight">Height: </label>
	  	<input type="text" required name="newPlayerHeight" data-ng-model="newPlayer.height">
	  	<label for="newPlayerTeam">Team: </label>
	  	<input type="text" required name="newPlayerTeam" data-ng-model="newPlayer.team">
	  	<button type="submit" data-ng-disabled="newPlayerForm.$invalid">Create Player</button>
	  </form>
	  <ul id="playerList" data-ng-repeat="player in players">
	  	<li>
	  		{{player.name}}

	  		<form data-ng-if="player.editing" name="{{player._id}}form" data-ng-submit="update(player)">
	  		<input name="name" type="text" data-ng-model="player.name">
	  		<input name="height" type="text" data-ng-model="player.height">
	  		<input name="team" type="text" data-ng-model="player.team">
	  		<button type="submit">Save</button>
	  		<button data-ng-click="cancel(player)">Cancel</button>
	  		</form>
	  		<button data-ng-if="!player.editing" ng-disabled="button" data-ng-click="player.editing = true">Edit</button>
	  		<button data-ng-click="destroy(player)">Delete</button>
	  		<ul>
	  		  <li>{{player.height}}</li>
	  		  <li>{{player.team}}</li>
	  		</ul>
	  	</li>
	  </ul>
	  <div my-player></div>
	</main>

	<script src="bundle.js"></script>
</body>
</html>